/* styles.css */
body {
    font-family: futura, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000db;
    color: #fff;
}

header {
    background-color: #00000038;
    padding: 1px;
    text-align: center;
    border-radius: 0px 0px 0 0;
    box-shadow: 0 0 60px rgba(1, 1, 1, 0.769);
    height: 74px;
    margin-bottom: 45px;
}

nav ul {
    list-style: none;
    margin: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
    position: relative;
    font-size: 30px;
    z-index: 1;
    Width: 80px;
}
nav li span {
    position: relative;
    z-index: 1;
    Width: 80px;
}

nav li span::after {
    content: "";
    position: absolute;
    bottom: -16px; 
    left: 50%;
    transform: translateX(-50%);
    width: 130px; 
    height: 70px; 
    background-color: #16161675;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.483);
    z-index: -1;
    width: 5em;  /*phone width bug fix? */
}

nav li:hover::after {
    /* removed hover styles to make the bubble visible by default */
}

nav a {
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 2; /* added z-index to ensure the text is on top */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    text-align: center;
}

section {
    background-color: #212121;
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 40px;
    box-shadow: 0 0 500px rgba(255, 255, 255, 0.424);
    width: 90%;
  margin-bottom: 10px auto;
  @media (max-width: 600px) {
      nav li span::after {
          max-width: 5vw;
          }
    section {
      width: 100%;
      margin: 0;
      /* ... */
    }
  }
    @media (max-width: 600px) {
        section {
          width: 100%;
          margin: 5px;
          /* phone width */
        }
         body {
    transform: scale(0.8);
  }
      }
}
p {
    font-size: 20px;
  }

h1, h2 {
    color: #fff;
}
img[alt="Image1"] {
    max-width: 75vw;
    height: auto;
}
img[alt="Image2"] {
    max-width: 75vw;
    height: auto;
}
img {
 /* border-radius: 10px;*/
  max-width: 12vw; /* FM_logo.png size */
}
